/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos dos Alertas Popup -------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
* {
	btnOk: #1976D2;
	btnOkHover: #2A2E37;
	btnCancel: #FF0000;
	btnConfirm: #7cb342;
}

.btnAlerta {
	-fx-background-color: btnOk;
	-fx-border-color: btnOk;
	-fx-text-fill: white;
	-fx-border-radius: 1px;
	-fx-background-radius: 3px;
}

.btnAlerta:hover {
	-fx-background-color: btnOkHover;
	-fx-border-color: derive(btnOkHover, -20%);
	-fx-text-fill: white;
}

.btnConfirma {
	-fx-background-color: btnConfirm;
	-fx-border-color: btnConfirm;
	-fx-text-fill: white;
	-fx-border-radius: 1px;
	-fx-background-radius: 3px;
}

.btnConfirma:hover {
	-fx-background-color: btnOkHover;
	-fx-border-color: derive(btnOkHover, -20%);
	-fx-text-fill: white;
}

.btnCancela {
	-fx-background-color: btnCancel;
	-fx-border-color: btnCancel;
	-fx-text-fill: white;
	-fx-border-radius: 1px;
	-fx-background-radius: 3px;
}

.btnCancela:hover {
	-fx-background-color: btnOkHover;
	-fx-border-color: derive(btnOkHover, -20%);
	-fx-text-fill: white;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos dos Alertas Tela --------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.Tela_Alerta {
	-fx-background-color: linear-gradient(to bottom, #e6e6e6 0%, #ffffff 20%, #ffffff 80%, #f2f2f2
		100%);
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos dos Notificacao ---------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.Notificacao_AvisoImagemPane {
	-fx-background-color: #333333;
	-fx-background-radius: 8px 0 0 8px;
}

.Notificacao_SucessoBackground {
	-fx-background-color: #00D032;
	-fx-background-radius: 9px 8px 8px 9px;
}

.Notificacao_AvisoBackground {
	-fx-background-color: #565D60;
	-fx-background-radius: 9px 8px 8px 9px;
}

.Notificacao_AlertaBackground {
	-fx-background-color: #00B9FF;
	-fx-background-radius: 9px 8px 8px 9px;
}

.Notificacao_ErroBackground {
	-fx-background-color: #FF472B;
	-fx-background-radius: 9px 8px 8px 9px;
}

.Notificacao_Detalhe_Close {
	-fx-content-display: graphic-only;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos dos gerenciador de alerta -----------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.btnOrdenaHora {
	-fx-text-fill: #ffffff;
}

.btnOrdenaHora:hover {
	-fx-background-color: rgba(0, 0, 0, 0.6);
}

.btnOrdenaHora:focused {
	-fx-font-weight: bold;
}

.btnOrdenaTipo {
	-fx-text-fill: #ffffff;
}

.btnOrdenaTipo:hover {
	-fx-background-color: rgba(0, 0, 0, 0.6);
}

.btnOrdenaTipo:focused {
	-fx-font-weight: bold;
}

.btnLimpa {
	-fx-text-fill: #ffffff;
}

.btnLimpa:hover {
	-fx-background-color: rgba(0, 0, 0, 0.6);
}

.btnLimpa:focused {
	-fx-font-weight: bold;
}

.Central_Notificacao_Backugroud {
	-fx-background-color: transparent;
	-fx-border-width: 0;
}

.Central_Notificacao_Titulo {
	-fx-background-color: rgba(0, 0, 0, 0.4);
}

.ItemFocus {
	-fx-text-fill: #000000;
}

.list-view {
	-fx-background-color: linear-gradient(to right top, #3c3c3c, #666666);
}

.list-view:focused {
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
	-fx-background-radius: 3px, 3px, 2px, 1px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-background-color: transparent;
	-fx-text-fill: #000000;
}

.list-cell {
	-fx-background-color: transparent;
}

.list-cell:odd {
	-fx-background-color: transparent;
}

.list-cell:even {
	-fx-background-color: transparent;
}

.list-cell:filled:hover {
	-fx-background-color: transparent;
}

.Notificacao_Detalhe_Background {
	-fx-background-color: #ffffff;
	-fx-background-radius: 9px 9px 9px 9px;
	-fx-border-radius: 9px 9px 9px 9px;
	-fx-border-color: black;
	-fx-border-width: 1px;
}

.Notificacao_Detalhe_Divisor {
	-fx-border-color: black;
	-fx-border-width: 1px 0 0 0;
	-fx-border-insets: 0 20 0 20;
}

.Notificacao_Detalhe_Close {
	-fx-content-display: graphic-only;
}

.Notificacao_Detalhe_Close .ico {
	-fx-background-color: #000000;
	-fx-pref-height: 10px;
	-size: 15;
	-fx-min-height: -size;
	-fx-min-width: -size;
	-fx-max-height: -size;
	-fx-max-width: -size;
	-fx-shape:
		"M27.948,20.878L40.291,8.536c1.953-1.953,1.953-5.119,0-7.071c-1.951-1.952-5.119-1.952-7.07,0L20.878,13.809L8.535,1.465 c-1.951-1.952-5.119-1.952-7.07,0c-1.953,1.953-1.953,5.119,0,7.071l12.342,12.342L1.465,33.22c-1.953,1.953-1.953,5.119,0,7.071 C2.44,41.268,3.721,41.755,5,41.755c1.278,0,2.56-0.487,3.535-1.464l12.343-12.342l12.343,12.343 c0.976,0.977,2.256,1.464,3.535,1.464s2.56-0.487,3.535-1.464c1.953-1.953,1.953-5.119,0-7.071L27.948,20.878z";
}

.Notificacao_Detalhe_Tipo {
	-fx-background-radius: 7px 0px 0px 7px;
}

.Notificacao_Detalhe_Tipo:Sucesso {
	-fx-background-color: #00D032;
}

.Notificacao_Detalhe_Tipo:Aviso {
	-fx-background-color: #565D60;
}

.Notificacao_Detalhe_Tipo:Alerta {
	-fx-background-color: #00B9FF;
}

.Notificacao_Detalhe_Tipo:Erro {
	-fx-background-color: #FF472B;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilo geral --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.increment-button, .decrement-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar:vertical, .scroll-bar:horizontal .track {
	-fx-background-color: transparent;
	-fx-pref-width: 15;
	-fx-padding: 3;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
}

/* Barra */
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
	-fx-background-color: #3c3c3c;
	-fx-background-radius: 5em;
	-fx-pref-height: 3px;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
	-fx-background-color: #757575;
}

.scroll-bar:horizontal .thumb:pressed, .scroll-bar:vertical .thumb:pressed
	{
	-fx-background-color: #1e90ff;
	-fx-background-insets: 3.0;
}