/Dicionario/
/TextosJapones/target/classes/sudachi_coredict.json
/TextosJapones/target/classes/sudachi_fulldict.json
/TextosJapones/target/classes/sudachi_smalldict.json
/TextosJapones/target/classes/system_core.dic
/TextosJapones/target/classes/system_full.dic
/TextosJapones/target/classes/system_small.dic
/TextosJapones/sudachi_coredict.json
/TextosJapones/sudachi_fulldict.json
/TextosJapones/sudachi_smalldict.json
/TextosJapones/system_core.dic
/TextosJapones/system_full.dic
/TextosJapones/system_small.dic
/App/sudachi_coredict.json
/App/sudachi_fulldict.json
/App/sudachi_smalldict.json
/App/system_core.dic
/App/system_full.dic
/App/system_small.dic
/App/*
