/Dicionario/
/TextosJapones/target/classes/sudachi_coredict.json
/TextosJapones/target/classes/sudachi_fulldict.json
/TextosJapones/target/classes/sudachi_smalldict.json
/TextosJapones/target/classes/system_core.dic
/TextosJapones/target/classes/system_full.dic
/TextosJapones/target/classes/system_small.dic
